---
import RootLayout from '@/layouts/RootLayout.astro';
import siteConfig from '../../../content/site.json';
import {getCollection} from 'astro:content';
import PostCard from "@/components/PostCard.astro";

const SITE_TITLE = siteConfig.title;
const SITE_DESCRIPTION = siteConfig.description;

const posts = (await getCollection('blog'))
    .filter(post => !post.data.draft)
    .sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );
---

<RootLayout title={SITE_TITLE} description={SITE_DESCRIPTION} width="lg">
    <section>
        {
            posts.map((post) => (
                    <PostCard {...post.data} slug={post.id}/>
            ))
        }
    </section>
</RootLayout>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        max-width: 90rem;
        margin: 2rem auto;
        padding: 2rem;
    }
</style>