@use "colors";

main {
  max-width: 70rem;
  padding: 1rem;
  margin: 4rem auto;
  width: 100%;
}

article {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  blockquote,
  pre:has(code),
  math {
    margin-bottom: .75em;
    margin-top: .75em;
  }

  &>*+* {
    margin-top: .75em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    box-sizing: border-box;
    color: var(--color-foreground);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid;
    border-bottom-width: medium;
    border-bottom-color: var(--color-primary);

    &::before {
      content: '#';
      color: var(--color-primary);
      margin-right: .5rem;
    }
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;

    &::before {
      content: '##';
      letter-spacing: -.2rem;
      margin-right: .5rem;
      color: var(--color-primary);
    }
  }

  h4 {
    font-size: 1.35rem;
    font-weight: bold;

    &::before {
      content: '###';
      letter-spacing: -.125rem;
      margin-right: .375rem;
    }
  }

  h5 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h6 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5em;
  }

  blockquote {
    background-color: color-mix(in srgb, var(--color-card), transparent 70%);
    backdrop-filter: blur(18px);
    padding: 1rem;
    border-radius: 6px 1rem 1rem 6px;
    border-left: var(--color-primary) 6px solid;
    box-shadow: 0.125rem 0.125rem 0.5rem color-mix(in srgb, var(--color-muted-foreground), transparent 80%);
  }

  pre:has(code) {
    color: var(--color-code-fg);
    padding: 1rem 1rem 1rem 2.25rem;
    border-radius: .5rem;
    background: var(--color-code-bg);
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-code-bg);
    }

    span:empty {
      height: 0;
    }

    code span {
      color: var(--color-code-fg);
      font-family: 'JetBrains Mono', monospace;
    }
  }

  code:not(:has(> span)) {
    border-radius: .5rem;
    padding: 0.125rem 0.25rem;
    background: var(--color-code-inline-bg);
    color: var(--color-code-inline-fg);
  }

  code {
    font-family: 'JetBrains Mono', monospace;
  }

  a {
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: 0.1em;
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: color-mix(in srgb, var(--color-highlight), transparent 90%);
    }
  }

  li {
    margin-left: 2em;
    margin-bottom: 0.5em;

    & li {
      margin-left: 1.5em;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem color-mix(in srgb, var(--color-muted-foreground), transparent 90%);
    background: color-mix(in srgb, var(--color-card), transparent 30%);
    color: var(--color-foreground);

    th,
    td {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid color-mix(in srgb, var(--color-muted-foreground), transparent 90%);
    }

    th {
      background: var(--color-primary);
      color: var(--color-background);
    }

    tr:nth-child(even) {
      background: color-mix(in srgb, var(--color-highlight), transparent 95%);
    }

    tr {
      transition: background-color 0.25s ease;
    }

    tr:hover {
      background: color-mix(in srgb, var(--color-highlight), transparent 90%);
    }
  }

  img {
    max-width: min(100%, 40rem);
    display: block;
    margin: 1rem auto;
  }
}