@use "colors";

.link {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: color-mix(in srgb, var(--color-highlight), transparent 90%);
  }
}


.card {
  padding: 1rem;
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--color-card), transparent 80%);
  backdrop-filter: blur(12px);

  border: none;
  box-shadow: 0.125rem 0.125rem 0.5rem color-mix(in srgb, var(--color-muted-foreground), transparent 80%);

  >*:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &.borderless {
    border: none;
  }

  &.no-shadow {
    box-shadow: none;
  }
}