---
import {clsx} from "clsx";
interface Props extends HTMLAttributes<'div'> {
  darkMode?: boolean;
  shadow?: boolean;
  borderless?: boolean;
}
import "../styles/components.scss";
import {type HTMLAttributes} from "astro/types";

const {
  darkMode = false,
  shadow = true,
  borderless = false,
  ...props
} = Astro.props;
---

<div
    class={
        clsx(
            props.class,
            'card',
            darkMode && 'dark-mode',
            shadow || 'no-shadow',
            borderless && 'borderless'
        )
    }
    {...props}
>
  <slot />
</div>