---
import siteConfig from '../../content/site.json';
import "@/styles/components.scss";
import {clsx} from "clsx";

const COPYRIGHT_NAME = siteConfig.copyright_name;
---

<footer
    id="footer-container"
    class={clsx(
      "card",
    )}
>
  <p>
    Powered by {COPYRIGHT_NAME}
  </p>
  <p>
    The background image is from
    <a href="https://www.pixiv.net/artworks/72467113" class="link only-light">Pixiv: 72467113</a>
    <a href="https://www.pixiv.net/artworks/133357172" class="link only-dark">Pixiv: 133357172</a>
  </p>
</footer>

<style lang="scss">
  #footer-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    * {
      margin-bottom: 0;
    }
  }

  footer {
    text-align: center;
  }

  .only-light {
    display: inline;
    html.dark & {
      display: none;
    }
  }

  .only-dark {
    display: none;
    html.dark & {
      display: inline;
    }
  }
</style>