---
import siteConfig from '../../content/site.json';
import "@/styles/components.scss";
import {clsx} from "clsx";

const COPYRIGHT_NAME = siteConfig.copyright_name;
---

<footer
    id="footer-container"
    class={clsx(
      "card",
    )}
>
  <p>
    Powered by {COPYRIGHT_NAME}
  </p>
</footer>

<style lang="scss">
  #footer-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    * {
      margin-bottom: 0;
    }
  }

  footer {
    text-align: center;
  }
</style>