---
import HeaderLink from './HeaderLink.astro';
import siteConfig from '../../content/site.json';
import "@/styles/components.scss";
import {clsx} from "clsx";
import ThemeToggle from './ThemeToggle.svelte';

const SITE_TITLE = siteConfig.title;
---

<header
    class={clsx(
        "head-container",
        'card',
    )}
>
  <nav>
    <h1>
      <a href="/" id="title" class="link">
        {SITE_TITLE}
      </a>
    </h1>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tag">Tags</HeaderLink>
      <ThemeToggle client:load/>
    </div>
  </nav>
</header>


<style>
    .head-container {
        border-radius: 0 0 0.75rem 0.75rem;

        padding: 0.75rem;
    }

    h1 > #title {
        font-size: 2rem;
    }

    #title {
        text-decoration: none;
    }

    #title:hover {
        text-decoration: underline;
    }

    nav {
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90rem;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .internal-links {
        height: 100%;
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;
    }
</style>
